.coffeeImage {
    width: 800px;
    height: auto;
    position: fixed;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

.coffeeLogo{
    position: absolute;
    width: 120px;
    height: auto;
    background-color: transparent;
    border-radius: 500px;
    left: 200px;
    top: 140px;
    box-shadow: 20px 30px 40px;
    z-index: 2;
    
}

.leftSide{
    position: relative;
    width: 800px
}

.leftSide > h1 {

    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 20px 30px 40px black;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    color: rgb(255, 195, 172);
    top: 160px;
    left: 350px;
    text-align: center;
    z-index: 2;
}

.leftSide h1:hover{
    color: brown;
    cursor: pointer;
}

.leftSide .overlay{
    width: inherit;
    height: 240px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 1;
    top: 100px;
    position: relative;
}

.rightSide{
    height: auto;
    position: relative;
}

.rightSide> p{
    position: relative;
    left: 1000px;
    bottom: 100px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 194, 71);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: 800px;
    height: auto;
}

.rightSide li{

    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    left: 1000px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1rem;
    color: rgb(255, 194, 71);
}

input{
    appearance: none;
    -webkit-appearance: none;
    height: 30px;
    position: relative;
    bottom: 5px;
    right:5px;
    margin: 5px;
    box-sizing: border-box;

}

.rightSide ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 420px;
    z-index: 3;
}

body{
    margin: 0;
    background-color: black;
}